$color-primary: #e50009;
$color-bg: #f7f7f7;
$color-black: #000;
$color-lv-1: #222;
$color-lv-2: #666;
$color-lv-3: #999;
$color-lv-4: #bebebe;
$color-warn: #ff3600;
$color-link: #1fbbff;

$border-lv-1-color: #000;
$border-lv-2-color: #999;
$border-lv-3-color: #dedede;
